.header {
	background-color: black;
}

.logo {
	background-color: blue;
}

.nav-main {
	background-color: orange;
}

.nav-main .nav-menu {
	background-color: rgb(110,210,20.2);
}

@media (max-width: 768px) {
	.header {
	background-color: yellow;
	}

	.logo {
		background-color: blue;
	}

	.nav-main {
		background-color: orange;
	}

	.nav-main .nav-menu {
		background-color: rgb(110,210,20.2);
	}
}